.container{
	width: 600px;
	margin: 0 auto 0 auto;
	padding: 20px;

}

.fixed{
	position: fixed;
	top: 0;
    left: 200;
	background-color: #eee;
	padding: 40px;
	font-weight: bold; 

}

.relative{
	position:relative;
	background-color: #eee;
	height: 120px;
	padding: 30px 60px 80px 330px;
	font-weight: bold;


	}
.absolute{
	position: absolute;
	background-color: #999;
	font-weight: bold;
	padding: 10px 70px;
	margin-top: 50px;
	margin-left: 30px;
}